.v-card-custom {
    margin-top: -60px !important;
}
.top_head {
    height: 165px;
    background-image: url('../../public/images/title-img.png');
    background-color: #63d4d6;
    background-repeat: repeat;
    background-position: center;
}
.main_panel{
  background-color: #eee;
  height: 100%;
}

th {
  font-size: 14px !important;
  text-transform: uppercase;
  font-weight: bold;
}

tr:nth-child(even) {background-color: #f2f2f2;}
